.About {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  font-family: "PeaceR";
}
.Aleft {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .naeun {
    width: 460px;
  }
  .Aphoto {
    position: relative;
    width: 470px;
  }
  .Aphoto:hover .naeun1 {
    display: block;
  }
  .Aleft1 {
    margin: 40px 0 0 0;
    height: 100px;
    font-size: 1.5em;
  }
  .Aleft1::before {
    content: "👆";
    position: absolute;
    font-size: 15px;
    left: 48%;
    top: 59%;
  }
}
.naeun1 {
  display: none;
  position: absolute;
  width: 250px;
  border-radius: 190px;
  top: 50px;
  right: 105px;
  box-shadow: white 0px 0px 0px 2px, pink 4px 4px 6px -1px,
    blue 0px 1px 0px inset;
}

.Aright {
  width: 50%;
  position: relative;
  height: 670px;

  .Abar {
    width: 10px;
    height: 580px;
    position: absolute;
    top: 40px;
    left: 40px;
    border-left: 10px solid pink;
  }

  .Aword {
    padding-left: 100px;
    padding-top: 80px;
    font-size: 18px;
    p {
      font-size: 15px;
      margin-right: 20px;
      color: #3e3e3e;
    }
    .Aword-p {
      margin-top: 13px;

      svg {
        color: #3e3e3e;
        margin-bottom: -3px;
      }
    }
  }
  .Aword::first-line {
    font-size: 20px;
    font-weight: bold;
  }
  .Aword::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border: 5px solid pink;
    border-radius: 100%;
    background-color: snow;
    left: 30px;
  }

  .Asesac {
    color: yellowgreen;
  }
  .Aimage {
    color: rgb(102, 102, 102);
  }
  .AJoara {
    color: #2a54ae;
  }
}

@media (max-width: 820px) {
  .Aword {
    width: 200px;
  }
}

@media (max-width: 710px) {
  .About {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
  }
  .Aleft1 {
    width: 240px;
  }
  .Aleft2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-top: 20px;
    p {
      font-size: 14px;
      margin-top: 2px;
      color: #3e3e3e;
    }
  }

  .Aright {
    width: 300px;
    height: 400px;
    margin-left: -20px;
    margin-bottom: 100px;

    .Abar {
      height: 300px;
    }
    .Aword {
      width: 250px;
      padding-top: 50px;
      padding-left: 100px;
      font-size: 17px;
      p {
        margin: 0;
      }
    }
    .Aword::first-line {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

@media (max-width: 470px) {
  .About {
    overflow-x: hidden;
  }
}
