.Contact {
  position: relative;
  font-family: "peace";
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #b0b9ca;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 95%;
    max-height: calc(100vh - 64px);
  }
}

.ConAll {
  position: absolute;
  font-size: 25px;
  color: black;
  div {
    padding-bottom: 10px;
    border-bottom: 2px solid #e3e9f3;
  }
  span {
    color: #b0b9ca;
    font-weight: bold;
    font-size: 20px;
  }
}

@mixin point() {
  cursor: url(../../public/medias/pointer1.png) 2 2, pointer;
}
.ContactWord {
  @include point();
}
