.Project {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
  font-family: "PeaceR";
  .Pline1,
  .Pline2,
  .Pline3,
  .Pline4 {
    display: flex;
    align-items: center;
    max-width: 970px;
    color: gray;
    margin: 0 auto;

    .ProWord {
      padding: 0px 20px;
    }

    p {
      font-weight: bold;
      color: black;
    }
    span {
      font-weight: bold;
    }
  }
  .Prob {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 30px;
    .PRO {
      position: relative;
      width: 240px;
      height: 270px;
      overflow: hidden;
      border: 7px solid;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      background: white;
      cursor: url(../../public/medias/pointer1.png) 2 2, pointer;
      img {
        width: 100%;
      }
      figcaption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-align: center;
        line-height: 1.7em;
        color: #fff;
        font-size: 20px;
        opacity: 0;
        transition: all 0.3s ease;
        em {
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }
    .proOne {
      background: rgb(162, 128, 64);
      border-color: #ad6123;
      box-shadow: 1px 1px 3px #5a4123;
    }
    .proTwo {
      border-image: linear-gradient(45deg, #65d0d5, #fa7a9a) 1;
    }
    .proThree {
      border-image: linear-gradient(45deg, #dd5b56, #b9ce94) 1;
    }
    .proFour {
      border-color: gray;
    }
  }
  .ProWord {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ProWord-box {
      display: flex;

      div {
        margin-left: 15px;
        // max-width: 470px;
        p {
          margin-bottom: 3px;
          font-weight: normal;
          color: #3e3e3e;
        }
      }
    }
  }
  .PRO:before,
  .PRO:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 70px solid rgba(0, 0, 0, 0.4);
    border-bottom: 70px solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  .PRO:before {
    transform: scaley(2);
  }
  .PRO:after {
    transform: scaley(2);
  }
  .PRO:hover:before,
  .PRO:hover:after {
    opacity: 1;
    transform: scale(1);
  }
  .PRO:hover > img {
    opacity: 0.7;
  }
  .PRO:hover figcaption {
    opacity: 1;
    transition-delay: 0.1s;
  }
}

@media (max-width: 925px) {
  .ProWord {
    .ProWord-box {
      display: flex;
      flex-direction: column;

      div {
        margin-left: 15px;
        // max-width: 470px;
        p {
          margin-bottom: 3px;
          font-weight: normal;
          color: #3e3e3e;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .Pline1,
  .Pline2,
  .Pline3,
  .Pline4 {
    margin: 20px auto;
  }
}

@media (max-width: 650px) {
  .Pline1,
  .Pline2,
  .Pline3,
  .Pline4 {
    display: flex;
    align-items: center;
    flex-direction: column;

    .ProWord {
      font-size: 14px;
      margin: 5px 5px 25px 5px;
      height: 350px;

      p {
        font-size: 15px;
        margin-bottom: -15px;
      }
    }
  }
  .ProWord p.PRO-about {
    margin-bottom: 4px;
  }
}
