.Video {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 80%;
    max-height: calc(100vh - 64px);
  }
}

// @media (max-width: );
