@font-face {
  font-family: "Peace";
  src: url(../public/medias/PyeongChang-Bold.woff) format("woff");
}
@font-face {
  font-family: "PeaceR";
  src: url(../public/medias/PyeongChang-Regular.woff) format("woff");
}

* {
  cursor: url(../public/medias/pointer.png) 2 2, default;
}
